body {background-color: gray;
}

nav {text-align: center;
    font-size:20pt;}

h1 {text-align: center;
    font-size:55pt;
    font-family:'Sacramento', cursive;}

h2 {text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 45pt;}