body {background-image: url(images/swans.jpg);
    border: 10px double black;
    border-radius: 50% 50% 50% 50%;
    padding: 5%;
    
    }

nav {text-align: center;
    font-size: 15pt;}

h1 {color: black;
    font-family: 'indie flower' , cursive ;
    font-size: 55pt ;
    text-align: center;
    }

p.b { border: 2px groove black;
    font-size: 25pt;
    background-color:gray;
    padding: 5%;}

p {border: 2px groove black;
    font-size: 20pt;
    background-color: gray;
    padding: 5%;}  
    
ul.c {float: right;
    font-size:35pt;
    font-weight:bold;
    color: black;
    border: 2px solid black;
    padding: 2%;   
}

ul.p {float: left;
    font-size: 35pt;
    font-weight:900;
    color: black;
    border: 2px solid black;
    padding: 2%;
}

lh {font-style: oblique ;
    font-size: 45pt;}

