body {background-color:grey;
    border: 5px dotted black;
    border-radius: 50px 50px 50px 50px; 
    border-top-color:orange;
    padding: 100px;
    }

h1 {color: pink;
    font-family: verdana;
    border: 3px solid black;
    background: white;}

p first-child {color:green;}

p {border: 2px groove blueviolet;
    font-size: 30pt;}  
    
ol {float: right;
    font-size:40pt;
    font-weight:bold;
    font-style: oblique;
    color: yellow;}

ul {font-size: 40pt;
    font-weight:900;
    font-style: italic;
    color: 98FFA8;}